html{
    background-color: black;
}
#whiteborder{
    border: 5px solid white;
}
#heading{
    color: white;
    text-transform: uppercase;
    font-family: "Libre Baskerville",serif;
    text-align: center;
    font-size: 3rem;
    
}
#state{
    color: white;
}
p{
    text-align: center;
    font-family:"Libre Baskerville" ;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px ;    
}
img{
    width: 100%;
    margin-top: auto;
}

